

.thanks {
    
    text-align: center;
    margin-top: 20px;
}

.thanks h2 {
    color: #0056b3;
}

.thanks p {
    font-size: 18px;
}

.container {
    background-color: #fff;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    margin: 20px auto;
   
   
}
.img{
    float: right;
    width: 30%;
    height: auto;
    padding: 20px;

}

.container p {
    font-size: 18px;
    font-family: arial;
}

.container .quoteOrImage::after {
    content: "";
    clear: both;
    display: table;
    
}
 .text{
    
   text-align: justify;
   padding: 25px;
   margin-right: 5px;
}
.container .form-group {
    margin-top: 30px;
    font-family: cursive;
}

.container #amount {
    width: 50%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
}

.container #donateButton {
    display: block;
    
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 18px;
    cursor: pointer;
    margin-top: 10px;
}

.container #donateButton:hover {
    background-color: #0056b3;
}

.container #donateButton:focus {
    outline: none;
}


header {
   
    color: #fff;
    padding: 10px 0;
    font-weight: bold;
}

.navbar-brand {
    color: #fff;
}

footer {
   
    
    padding: 20px 0;
    
    text-align: center;
}


